<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/lib.css")
    @Styles.Render("~/bundles/site.css")
</head>
    <body>
        <div class="container">
            <h1>@(ViewBag.Title ?? "TIPS Pricing Worksheet")</h1>
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/lib.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
